In [5]:
# assign vars

a = 2
b = 3.142

print(type(a))
print(type(b))
s = "Hello World"
print(type(s))

<class 'int'>
<class 'float'>
<class 'str'>

In [6]:
print("a =", a, "and b =" , b)
print(a + b)      # addition
print(a * b)      # multiplication
print(a - b)      # subtraction
print(a / b)      # division
print(b ** a)     # exponentiation
print(a % b)      # modulus - returns the remainder
print(2 * a % b)  # modulus - returns the remainder

a = 2 and b = 3.142
5.1419999999999995
6.284
-1.142
0.6365372374283896
9.872164
2.0
0.8580000000000001

In [7]:
print("a =", a, "and b =" , b)
print(a + 2*b)    # add a to two times b
print(a + (2*b))  # same thing but explicit about order of evaluation
print((a + b)*2)  # add a and b and then multiply by two

a = 2 and b = 3.142
8.283999999999999
8.283999999999999
10.283999999999999

In [9]:

("a =", a, "and b =" , b)
(a + 2*b)    # add a to two times b
(a + (2*b))  # same thing but explicit about order of evaluation
((a + b)*2)  # add a and b and then multiply by two

10.283999999999999

# Basic Python
*Help function*

In [12]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [13]:
mystring = "Hello World"
print(mystring)

name = "Luke"
mystring = 'Hello ' + name + ' How are you?'
print(mystring)

mystring = 'Hello this is ' + name + "'s code"
print(mystring)

Hello World
Hello Luke How are you?
Hello this is Luke's code

In [14]:
 mystring = "Hello World"
print(mystring)

Hello World

In [15]:
myString = "The quick brown fox"

print(myString.startswith("The"))
print(myString.find("The"))        # notice that string positions start with 0 like all indexing in Python
print(myString.upper())            # The contents of myString is not changed, if you wanted an uppercase version
print(myString)                    # you would have to assign it to a new variable

True
0
THE QUICK BROWN FOX
The quick brown fox

In [16]:
myString = "The quick brown fox"

print(myString[0])
print(myString[12])
print(myString[18])

print(myString[0:3])
print(myString[0:])        # from index 0 to the end
print(myString[:9])        # from the beginning to one before index 9
print(myString[4:9])

T
o
x
The
The quick brown fox
The quick
quick

In [17]:
print(True)
print(False)
bool_val_t = True
print(type(bool_val_t))
print(bool_val_t)
bool_val_f = False
print(type(bool_val_f))
print(bool_val_f)

True
False
<class 'bool'>
True
<class 'bool'>
False

In [18]:
print(true)
print(false)

NameError: name 'true' is not defined

In [20]:
print('hello' == 'HELLO')
print('hello' is 'hello')
print(3 == 77)
print(1 < 2)
print('four' > 'three')

False
True
False
True
False

In [22]:
list1 = [6, 54, 89 ]
print(list1)
print(type(list1))

list2 = [3.142, 2.71828, 9.8 ]
print(list2)
print(type(list2))

myname = "Peter"
list3 = ["Hello", 'to', myname ]
print(list3)
myname = "Fred"
print(list3)
print(type(list3))

list4 = [6, 5.4, "numbers", True ]
print(list4)
print(type(list4))

[6, 54, 89]
<class 'list'>
[3.142, 2.71828, 9.8]
<class 'list'>
['Hello', 'to', 'Peter']
['Hello', 'to', 'Peter']
<class 'list'>
[6, 5.4, 'numbers', True]
<class 'list'>

In [27]:
num_list = [4,5,6,11]

last_num_in_list = num_list[-1]
print(last_num_in_list)

odd_from_list = [num_list[1], num_list[3]]
print(odd_from_list)

11
[5, 11]

In [24]:
list5 = list(range(5))
print(list5)

[0, 1, 2, 3, 4]

In [25]:
list6 = list(range(1, 9))
print(list6)
list7 = list(range(2, 11, 2))
print(list7)

[1, 2, 3, 4, 5, 6, 7, 8]
[2, 4, 6, 8, 10]

In [26]:
list7 = list(range(2, 11, -2))
print(list7)

list8 = list(range(10, 1, -2))
print(list8)

[]
[10, 8, 6, 4, 2]